$c-adm: rgb(130, 120, 111);
.c-admin {
  color: #82786FFF;
}

$c-cit: rgb(255, 114, 0);
.c-cit {
  color: #FF7200FF;
}

$c-cul: rgb(0, 47, 47);
.c-cul {
  color: #002F2FFF;
}

$c-eco: rgb(0, 152, 219);
.c-eco {
  color: #0098DBFF;
}

$c-enf: rgb(0, 176, 146);
.c-enf {
  color: #00B092FF;
}

$c-san: rgb(215, 31, 133);
.c-san {
  color: #D71F85FF;
}

$c-soc: rgb(203, 0, 68);
.c-soc {
  color: #CB0044FF;
}

$c-spo: rgb(152, 192, 45);
.c-spo {
  color: #98C02DFF;
}

$c-tou: rgb(138, 90, 157);
.c-tou {
  color: #8A5A9DFF;
}

$CTA: rgb(74, 224, 199);
.cta {
  color: #4AE0C7FF;
}

$darkCTA: rgb(72, 127, 137);
.darkCta {
  color: #487F89FF;
}

$active: rgb(255, 136, 27);
.active {
  color: #FF881BFF;
}

$white: rgb(255, 255, 255);
$lighterGrey: rgb(237, 237, 236);
.lighterGrey {
  color: #EDEDECFF;
}

$lightGrey: rgb(189, 195, 195);
.lightGrey {
  color: #BDC3C3FF;
}

$basicGrey: rgb(128, 128, 128);
.basicGrey {
  color: #808080FF;
}

$darkGrey: rgb(35, 34, 34);
.darkGrey {
  color: #232222FF;
}

$darkestGrey: rgb(5, 0, 50);
.darkestGrey {
  color: #050032FF;
}

$basicGreen: rgb(20, 190, 120);
.basicGreen {
  color: #14BE78FF;
}

$darkGreen: rgb(22, 186, 153);
.darkGreen {
  color: #16BA99FF;
}

$basicOrange: rgb(253, 189, 86);
.basicOrange {
  color: #FDBD56FF;
}

$darkOrange: rgb(252, 112, 8);
.darkOrange {
  color: #FC7008FF;
}

$basicRed: rgb(220, 55, 55);
.basicRed {
  color: #DC3737FF;
}

$darkRed: rgb(222, 44, 1);
.darkRed {
  color: #DE2C01FF;
}

