@layer components {
  .i-swimmer {
    background-image: url(../images/svg/icon_swimmer_primary.svg);
  }

  .i-swimmer-white {
    background-image: url(../images/svg/icon_swimmer_white.svg);
  }

  .i-map {
    background-image: url(../images/svg/icon_map_primary.svg);
  }

  .i-map-white {
    background-image: url(../images/svg/icon_map_white.svg);
  }

  .i-envelope {
    background-image: url(../images/svg/icon_envelope_primary.svg);
  }

  .i-envelope-white {
    background-image: url(../images/svg/icon_envelope_white.svg);
  }

  .i-leaf {
    background-image: url(../images/svg/icon_leaf_primary.svg);
  }

  .i-leaf-white {
    background-image: url(../images/svg/icon_leaf_white.svg);
  }

  .i-traffic-cone {
    background-image: url(../images/svg/icon_trafficcone_primary.svg);
  }

  .i-traffic-cone-white {
    background-image: url(../images/svg/icon_trafficcone_white.svg);
  }

  .i-handshake {
    background-image: url(../images/svg/icon_handshake_primary.svg);
  }

  .i-handshake-white {
    background-image: url(../images/svg/icon_handshake_white.svg);
  }

  .i-beach-ball {
    background-image: url(../images/svg/icon_beachball_primary.svg);
  }

  .i-beach-ball-white {
    background-image: url(../images/svg/icon_beachball_white.svg);
  }

  .i-search {
    background-image: url(../images/svg/icon_search_darkprimary.svg);
  }

  .i-search-white {
    background-image: url(../images/svg/icon_search_white.svg);
  }

  .i-angle-left {
    background-image: url(../images/svg/icon_angleleft_primary.svg);
  }

  .i-times {
    background-image: url(../images/svg/icon_times_primary.svg);
  }

  .i-shirt {
    background-image: url(../images/svg/icon_shirt_primary.svg);
  }

  .i-medical {
    background-image: url(../images/svg/icon_medical_primary.svg);
  }

  .i-trash {
    background-image: url(../images/svg/icon_trash_primary.svg);
  }

  .i-martini-glass {
    background-image: url(../images/svg/icon_martiniglass_primary.svg);
  }

  .i-cart {
    background-image: url(../images/svg/icon_cart_primary.svg);
  }

  .i-flatware {
    background-image: url(../images/svg/icon_flatware_primary.svg);
  }

  .i-water-drop {
    background-image: url(../images/svg/icon_waterdrop_primary.svg);
  }

  .i-umbrella {
    background-image: url(../images/svg/icon_umbrella_primary.svg);
  }

  .i-disk {
    background-image: url(../images/svg/icon_disk_primary.svg);
  }

  .i-book {
    background-image: url(../images/svg/icon_book_primary.svg);
  }

  .i-boat {
    background-image: url(../images/svg/icon_boat_primary.svg);
  }

  .i-school {
    background-image: url(../images/svg/icon_school_primary.svg);
  }

  .i-sun {
    background-image: url(../images/svg/icon_sun_primary.svg);
  }

  .i-board {
    background-image: url(../images/svg/icon_board_primary.svg);
  }

  .i-healthcase {
    background-image: url(../images/svg/icon_healthcase_primary.svg);
  }

  .i-chrono {
    background-image: url(../images/svg/icon_chrono_primary.svg);
  }

  .i-search-plus {
    background-image: url(../images/svg/icon_searchplus_primary.svg);
  }

  .i-search-less {
    background-image: url(../images/svg/icon_searchless_primary.svg);
  }

  .i-list {
    background-image: url(../images/svg/icon_list_primary.svg);
  }

  .i-sound-on {
    background-image: url(../images/svg/icon_soundon_primary.svg);
  }

  .i-sound-off {
    background-image: url(../images/svg/icon_soundoff_primary.svg);
  }

  .i-bus {
    background-image: url(../images/svg/icon_bus_primary.svg);
  }

  .i-wifi {
    background-image: url(../images/svg/icon_wifi_primary.svg);
  }
}
