/*
@import url("https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.2.0/css/fork-awesome.min.css");
 */

@import "icones.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "montserratregular", system-ui, sans-serif;
        @apply scroll-pt-3 scroll-smooth;
        /* see https://www.getrevue.co/profile/shrutibalasa/issues/did-you-know-about-scroll-padding-easy-solution-to-fixed-header-problem-1325973 */
    }

    body {
        @apply grid min-h-screen text-gray-800 antialiased;
        grid-template-rows: 1fr auto;
    }

    img {
        @apply w-full object-cover;
    }

    section {
        /* padding: 1.5rem 2rem;*/
        /* min-height: 100vh;*/
        /* color: white;*/
    }

    main {
        padding: 2rem;
    }
}

@layer components {

    i.fa {
        @apply text-sm;
    }

    .icon {
        @apply mx-1 h-6 w-6 rounded-full bg-cta-dark text-white hover:bg-cta-light;
    }

    .bghome-image {
        background-image: linear-gradient(
                90deg,
                rgba(1, 31, 22, 0.38),
                rgba(0, 75, 142, 0.38)
        ), url(../images/bh_home.jpg);
    }
}

@font-face {
    font-family: "montserratlight";
    src: url("../Montserrat/static/Montserrat-Light.ttf");
}

@font-face {
    font-family: "montserratthin";
    src: url("../Montserrat/static/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "montserratregular";
    src: url("../Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "montserrat";
    src: url("../Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "montserratbold";
    src: url("../Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "montserratextrabold";
    src: url("../Montserrat/static/Montserrat-ExtraBold.ttf");
}
