/**
@import url("https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.2.0/css/fork-awesome.min.css");
*/

@import "assets/fonts.css";
@import "assets/icones.css";
@import "assets/widgets.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-pt-3 scroll-smooth font-montserrat-regular text-base;
    /* see https://www.getrevue.co/profile/shrutibalasa/issues/did-you-know-about-scroll-padding-easy-solution-to-fixed-header-problem-1325973 */
  }

  body {
    @apply grid min-h-screen text-gray-800 antialiased;
    grid-template-rows: 1fr auto;
  }

  img {
    @apply w-full object-cover;
  }

  /*   #headerTop  {
           outline: red 1px solid;
       }

       #menuVivre  {
           outline: green 1px solid;
       }

       #navigationTop  {
           outline: blue 1px solid;
       }*/
}
